.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-logo {
  height: 20%;
  align-items: center;
}
.id-box {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 80%;
  border: #c5ccd2 1px solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 10px;
}

.id-box-bottom {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 80%;
  border: #c5ccd2 1px solid;
  border-top: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}

.input-id {
  height: 60%;
}

.input-id:focus {
  outline: none;
}

.input-email {
  outline: black;
}

.login-form {
  display: flex;
  justify-content: center;
  border: #c5ccd2 2px solid;
  border-radius: 10px;
  width: 40%;
}

.login-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-bttn {
  background-color: black;
  justify-content: flex-end;
  color: white;
  width: 80%;
  border-radius: 5px;
  margin-top: 5%;
  height: 15%;
  font-weight: bold;
}
.login-bttn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}
.logo-img {
  display: flex;
  justify-content: center;
}

.login-person{
  display: flex;
  transition: all 0.5s ease;
}
.login-shop{
  transition: all 0.5s ease;
}

.login-person:hover,
.login-shop:hover{
  scale: 110%;
}

.logo-img img {
  height: 300px;
  width: 400px;
}
.outfit-shop {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.outfit-shop:hover {
  cursor: pointer;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.modal-show {
  display: "flex";
}

.search-box {
  display: flex;
  justify-content: flex-end;
}
.search-underline {
  display: inline-flex;
  align-items: center;
  margin-right: 80px;
  border-bottom: gray 1px solid;
}

.card-box {
  transition: all 0.2s linear;
  width: 300px;
  margin-bottom: 30px;
  min-height: 616px;
}
.card-box div{
 max-height: 136px;
}
.card-box:hover {
  scale: 110%;
}

#dropdown-basic {
  background-color: transparent;
  color: black;
  border-color: black;
  border: 2px solid;
  margin-top: 10px;
}

.button-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.button-container button:first-child {
  width: 80%;
  height: 80%;
}

.li-passwd::before,
.li-sign::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #c5ccd2;
  top: 6px;
}
li:first-child a {
  padding-right: 6px;
}
.li-passwd a,
.li-sign a {
  padding-left: 6px;
  padding-right: 6px;
}
.find-text {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #888;
}

#lank-slider {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fafafa;
  width: 60%;
  margin-top: 0;
  border-radius: 20px;
}

#under-line {
  position: absolute;
  background-color: wheat;
  height: 2px;
  width: 0;
  left: 0;
  padding: 0;
  height: 3px;
  transition: 0.5s;
  z-index: 1;
}

#best-img {
  width: 200px;
  height: 250px;
}

.heart-bttn {
  bottom: 35px;
  left: 260px;
  position: relative;
  transition: all 0.3s ease;
  color: white;
}

.heart-bttn:hover {
  color: #fc4261;
}

.heading-area {
  height: 1px;
  width: 100%;
  background-color: #c5ccd2;
}

.outline-color {
  border: 1px solid #c5ccd2;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lilita-one-big {
  font-family: "Lilita One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: xx-large;
}

.lilita-one-small {
  font-family: "Lilita One", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: large;
}

.footer-layer {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 5px;
  padding: 15px;
}
.footer-layer strong {
  margin-bottom: 10px;
}

.footer-bttn-table a {
  border: solid rgb(209, 209, 209) 0.8px;
  padding: 4px 8px;
  text-decoration: none;
  color: #555;
  width: 45%;
  text-align: center;
  
}

.footer-bttn-table a:hover{
  scale: 105%;
  transition: all 0.5s ease ;
}
.footer-container {
  border-top: 1px solid lightgray;
}
.sns-layer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sns-layer a {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  font-size: 17px;
  color: white;
  background-color: wheat;
  transition: all 0.3s ease;
}
.sns-layer a:hover {
  scale: 110%;
}
.copyright-layer{
  display: flex;
  align-items: center;
  background-color: rgb(66, 66, 66);
  padding-top: 18px;
  padding-bottom: 18px;
  color: white;
}

@media (max-width: 770px) {
  #products-list {
    padding-left: 24px;
  }

  #lank-slider {
    display: none;
  }
  .footer-layer{
    display: none;
  }

  .login-wrap{

    height: 80%;
    width: 140%;
  }
}
