
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-logo{
  height: 20%;
  align-items: center;
}
.id-box{
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 80%;
  border: #c5ccd2 1px solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 10px;
}

.id-box-bottom{
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 80%;
  border: #c5ccd2 1px solid;
  border-top: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}

.input-id{
  height: 60%;
}

.input-id:focus{
  outline: none;
}

.input-email{
  outline: black;
}


.login-form{
  display: flex;
  justify-content: center;
  border: #c5ccd2 2px solid;
  border-radius: 10px;
  width: 40%;
}


.login-wrap{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-bttn{
  background-color: black;
  justify-content: flex-end;
  color: white;
  width: 80%;
  border-radius: 5px;
  margin-top: 5%;
  height: 15%;
  font-weight: bold;
}
.login-bttn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}
.login-bttn div{
  margin-left: 10px;
  margin-right: 10px;
}
.logo-img{
  display: flex;
  justify-content: center;
}

.logo-img img{
  height: 300px;
  width: 400px;
}
.outfit-shop {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.outfit-shop:hover{
  cursor: pointer;
}

.menu-list{
  display: flex;
  list-style: none;
}

.menu-list li{
  padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
}

.modal-show{
  display: 'flex';
}

.search-box{
  display: flex;
  justify-content: flex-end;
}
.search-underline{
  display: inline-flex;
  align-items: center;
  margin-right: 80px;
  border-bottom: gray 1px solid;
}

.card-box{
  transition: all 0.2s linear;
  width: 300px;
  margin-bottom: 30px;
  min-height: 616px;
}

.card-box:hover{
  scale: 110%;
}

#dropdown-basic{
  background-color: transparent;
  color: black;
  border-color: black;
  border: 2px solid;
  margin-top: 10px;

}

.button-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.button-container button:first-child{
  width: 80%;
  height: 80%;
}

.li-passwd::before,
.li-sign::before
{
  position: absolute;
  content: '';
  width: 1px;
  height: 12px;
  background-color: #c5ccd2;
  top: 6px;
}
li:first-child a{
  padding-right: 6px;
}
.li-passwd a,
.li-sign a
{
  padding-left: 6px;
  padding-right: 6px;
}
.find-text{
display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #888;
}

#banner {
  position: fixed;  /*고정*/
  width: 162px;  /*가로길이*/
  height: 835px;  /*세로길이*/
  right: 2px;      /*위치 지정 : 오른쪽에서 몇 px에 위치, 왼쪽 배너이면 left : 2px; */
  top: 48px;     /* 위치 지정 : 상단에서 몇 px에 위치, 하단부터라면 bottom:48px; */
  text-align:center;  /*중앙정렬*/
  }

  #lank-slider{
    padding-left: 200px;
    padding-right: 200px;
  }

@media (max-width:770px){
  #products-list{
    padding-left: 24px;
  }

  #lank-slider{
    display: none;
  }
}


